{% extends "base.html" %}
{% block pagetitle %}Web Based STIG Viewer{% endblock pagetitle %}
{% block headerbar %}
              <li class="active"><a href="{{ url_for('default') }}">Home</a></li>
              <li><a href="{{ url_for('stigs') }}">STIGs</a></li>
              <li><a href="{{ url_for('checks') }}">Checks</a></li>
{% endblock headerbar %}

{% block body %}
        <div class="hero-unit">
        	<div class="container">
        		<h1>Welcome to STIG Viewer<img src="{{ url_for('static', filename="img/alpha.png")}}"></h1>
        		<p class="lead">Finally, a better way to use the STIGs!</p>
        	</div>
        </div>
        
       	<div class="row">
       	<div class="span4">
       		<h2>News</h2>
       		<h3>Welcome to STIG Viewer </h3>
       		<p>STIG Viewer is currently in a Public Alpha phase.  Please look around, and feel free to make any suggestions for enhancements, bugfixes, etc.</p>
       		<hr>
       		<p>All of the UNCLASS DISA STIGs (no SIPRNet, no FOUO) contained in the <a href="http://iase.disa.mil/stigs/dod_purpose-tool/index.html">STIG 'zip' archive</a> as of August 2012 are included in this online, searchable, browseable index.</p>
       		<p>When a new archive is released in October, the site will be updated to reflect that as well.</p>
<hr>
<h3>Subscribe to our mailing list</h3>
<p>Sign-up with your email address to recieve updates on the STIGViewer service:</p>
        				<!-- Begin MailChimp Signup Form -->
<form action="http://stigviewer.us5.list-manage2.com/subscribe/post?u=38a69ed1419d997fe7ff495aa&amp;id=178b487734" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	

<div class="mc-field-group">
	<label for="mce-EMAIL" class="hidden">Email Address</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@domain.com">
</div>
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	
		
	<div class="clear">
	
	</div>
</form>


<!--End mc_embed_signup-->	

       		<p><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>



       	</div>



       	<div class="span8 pull-right" >
	       	<h2>Latest Released STIGs</h2>
	        <table class="table table-compressed table-striped table-border">
	        	<thead>
	        		<tr><th>Release Date</th><th>Title</th><th>Version</th></tr>
	        	</thead>
	        	<tbody>
	        		{% for stig in stigs %}
	        			<tr><td>{{ stig.date }}</td><td><a href="{{ url_for('getStigOverview', stigid=stig.pkid)}}">{{ stig.title }}</a></td><td>{{ stig.version }}</td></tr>
	        		{% endfor %}
	        	</tbody>
	    	</table>
		</div>
		</div> <!-- end 'row' -->
      
{% endblock body %}