{% extends "base.html" %}
{% block pagetitle %}Complete STIG List{% endblock pagetitle %}
{% block headerbar %}
              <li><a href="{{ url_for('default') }}">Home</a></li>
              <li class="active"><a href="{{ url_for('stigs') }}">STIGs</a></li>
              <li><a href="{{ url_for('checks') }}">Checks</a></li>
{% endblock headerbar %}

{% block body %}
        <h1>UNCLASSIFIED STIG List</h1>
        <h2>The following list is the total archive of UNCLASSIFIED DISA FSO STIGs as of 24 August 2012.</h2>
     
      
      <table class="table table-striped table-condensed table-hover">
          <thead>
          <tr><th class="span8">Title</th><th>Version</th><th>Date</th></tr>
          </thead>
          <tbody>
      {% for stig in stigs|sort(attribute='title') %}
          <tr><td><a href="{{ url_for('getStigOverview', stigid=stig.pkid) }}"> {{ stig.title }}</a></td><td>{{ stig.version }}</td><td>{{ stig.date }}</td></tr>
      {% endfor %}
          </tbody>
      </table>


{% endblock body %}